@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 1440px;
  background-color: hsl(235, 18%, 26%);
  color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
}

.success-submit {
  width: 500px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 180px;
  margin-bottom: 180px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
  margin: 40px 45px 45px 45px;

  & h1 {
    color: hsl(234, 29%, 20%);
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin: 25px 0 25px 0;
  }

  & p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 30px;
  }

  & span {
    font-weight: 700;
  }
}

.close-btn {
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0 45px 45px 45px;
}
.close-btn:hover {
  background-image: linear-gradient(
    rgba(255, 84, 120, 255),
    hsl(4, 100%, 67%),
    rgba(255, 103, 62, 255)
  );
}

/*Mobile Version (375px and 320px)*/
@media (max-width: 376px) {
  body {
    width: 375px;
    height: 800px;
    background-color: hsl(0, 0%, 100%);
  }
  .success-submit {
    width: 375px;
    height: 800px;
    margin: 0;
    border-radius: 0;
  }
  .container {
    width: 375px;
    height: 720px;
    margin: 0;

    & img {
      margin: 160px 25px 20px 25px;
    }

    & h1 {
      font-size: 2.5rem;
      margin: 20px 25px 20px 25px;
      line-height: 2.5rem;
    }

    & p {
      font-size: 1rem;
      margin: 0px 25px 80px 25px;
    }
  }
  .close-btn {
    width: 325px;
    margin: 0px 25px 0px 25px;
    font-size: 1rem;
  }
}

/*2nd Mobile Version(425px)*/
@media (max-width: 426px) {
  body {
    width: 425px;
    height: 850px;
    background-color: hsl(0, 0%, 100%);
  }
  .success-submit {
    width: 425px;
    height: 850px;
    margin: 0;
    border-radius: 0;
  }
  .container {
    width: 100%;
    height: 750px;
    margin: 0;

    & img {
      margin: 120px 30px 20px 30px;
    }
    & h1 {
      font-size: 2.5rem;
      margin: 10px 30px 20px 30px;
      line-height: 2.5rem;
    }
    & p {
      font-size: 1.2rem;
      margin: 10px 30px 80px 30px;
    }
  }
  .close-btn {
    width: 365px;
    margin: 0px 30px 0px 30px;
    font-size: 1.2rem;
  }
}
